.features-section {
  padding: 5% 0;
  text-align: center;
}
.section-title {
  text-align: left;
  width: 30%;
  font-size: 30px;
  margin-left: 5%;
  color: #023350;
  font-weight: bold;
  background: #7698CF14;
  margin-bottom: 40px;
  padding: 7px 2px;
  border-top-right-radius: 50px;
  border-bottom-right-radius: 50px;
}

span{
  color: #7698CF;
}
.section-title .highlight {
  text-decoration: 1px underline #023350;
  text-underline-offset: 12px;
  text-decoration-thickness: 3px;
}

.features-container {
  display: flex;
  justify-content: space-between;
  padding: 0 7%;
  flex-wrap: wrap;
  margin-top: 30px;
}

.feature-box {
  display: flex;
  border-radius: 30%;
  border: 3px solid #03A29714;
  flex-direction: column;
  align-items: center;
  margin-bottom: 30px;
  margin-right: 15px; /* Space between boxes */
  margin-left: 15px; /* Space between boxes */
  padding: 50px 20px;
}

.feature-icon {
  width: 100px;
  height: 100px;
  background: #7698CF;
  border-radius: 50%;
  display: flex;
  align-items: center;
  justify-content: center;
  box-shadow: 0 4px 6px rgba(0, 0, 0, 0.1);
}

.feature-icon img {
  width: 70px;
  height: 70px;
}

.feature-text {
  margin-top: 15px;
  font-size: 20px;
  font-weight: 500;
  color: #023350;
  text-align: center;
}
